<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

  <!-- Font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
  <!-- Personal CSS  -->
  <link rel="stylesheet" href="../css/style.css">

    <!-- Animations animate.style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <title>Imprenta NeoGraf</title>
</head>

<body>
  <header>
    <!-- BEGIN - AGREGADO DE BANNER + LOGO + MENU NAVEGABLE Y DESPLEGABLE -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="../../index.html">
          <img src="../media/img/PNG LETRAS NEGRAS.png" alt="" class="logo-size">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html#Home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#AboutUs">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Products">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Service">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Contact" tabindex="-1" aria-disabled="true">Contacto</a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- END - AGREGADO DE BANNER + LOGO + MENU NAVEGABLE Y DESPLEGABLE -->
  </header>

  <main class="container-flow main-products">

    <!-- <section class="container-flow row"> -->
     
    <section class="row row-cols-2"> 

      <aside class="col col-md-2 list-aside-product">

        <!-- <div class="shadow-lg p-3 mb-5 bg-white rounded col-8 list-group group-aside-product" id="list-tab" role="tablist"> -->
          <div class="shadow-lg p-3 mb-5 bg-white rounded list-group group-aside-product" id="list-tab" role="tablist">
          <!-- <a class="list-group-item list-group-item-action active" id="list-all-list" data-bs-toggle="list"
            href="#list-all" role="tab" aria-controls="all">Todos Nuestros Productos</a> -->

          <a class="list-group-item list-group-item-action active" id="list-Almanaques-list" data-bs-toggle="list"
            href="#list-Almanaques" role="tab" aria-controls="Almanaques">Almanaques</a>
            <!--  -->
          <a class="list-group-item list-group-item-action" id="list-Autoadhesivos-list" data-bs-toggle="list"
            href="#list-Autoadhesivos" role="tab" aria-controls="Autoadhesivos">Autoadhesivos</a>
            <!-- Autoadhesivos -->
          <a class="list-group-item list-group-item-action" id="list-GranFormato-list" data-bs-toggle="list"
            href="#list-GranFormato" role="tab" aria-controls="GranFormato">Gran Formato</a>
            <!-- Gran Formato -->
          <a class="list-group-item list-group-item-action" id="list-PapeleriaComercial-list" data-bs-toggle="list"
            href="#list-PapeleriaComercial" role="tab" aria-controls="PapeleriaComercial">Papeleria Comercial</a>
            <!-- Papeleria Comercial -->
          <a class="list-group-item list-group-item-action" id="list-PapelesResmas-list" data-bs-toggle="list"
            href="#list-PapelesResmas" role="tab" aria-controls="PapelesResmas">Papeles y Resmas</a>
            <!-- Papeles y Resmas -->
          <a class="list-group-item list-group-item-action" id="list-Publicidad-list" data-bs-toggle="list"
            href="#list-Publicidad" role="tab" aria-controls="Publicidad">Publicidad</a>
            <!-- Publicidad -->
          <a class="list-group-item list-group-item-action" id="list-Tarjetas-list" data-bs-toggle="list"
            href="#list-Tarjetas" role="tab" aria-controls="Tarjetas">Tarjetas</a>
            <!-- Tarjetas -->
          <a class="list-group-item list-group-item-action" id="list-Volantes-list" data-bs-toggle="list"
            href="#list-Volantes" role="tab" aria-controls="Volantes">Volantes</a>
            <!-- Volantes -->
        </div>

      </aside>



      <article class="col col-md-10 list-article-product neograf-fonts">

        <div class="tab-content" id="nav-tabContent">


          <div class="tab-pane fade show active" id="list-Almanaques" role="tabpanel"
            aria-labelledby="list-Almanaques-list">

            <div class="row">
            <div class="col-11 col-md-4">
              <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card animate__animated animate__zoomIn">
                <div class="neograf-product-img-card col-12">
                  <img src="../media/img/product1.jpg" alt="Almanaque" class="neograf-imagen-responsive">
                </div>
                  <h5>Almanaque Personalizado 2021</h5>
                  <div class="neograf-product-img-card-txt">
                  <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                    Full Color
                  </p>
                </div>
                <div class="neograf-product-img-price-txt">
                  <span>Desde</span>
                  <span class="neograf-product-price">$1.500,00</span>
                  <span class="neograf-product-quantity"> + IVA</span>
                  <span class="neograf-product-quantity"> /100 unidades</span>
                </div>

              </div>
            </div>

          </div>
        </div>
          <!-- </div> -->

          <div class="tab-pane fade" id="list-Autoadhesivos" role="tabpanel" aria-labelledby="list-Autoadhesivos-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-auto.jpg" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>STICKERS EN VINILO</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Resiste el agua y la luz solar  <br>
                       Full Color. <br>
                       Medida a elección. 
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$829,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /250 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-GranFormato" role="tabpanel" aria-labelledby="list-GranFormato-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-ploteado.png" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>PLOTEADO</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Full color y la más alta calidad. <br>
                       Apto para uso en exterior e interior.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$722,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /Precio mt2</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-PapeleriaComercial" role="tabpanel"
            aria-labelledby="list-PapeleriaComercial-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-talonario.png" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>Talonarios</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel obra de 75 grs. <br>
                      Impresión blanco y negro <br>
                      Engomados
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$422,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /100 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-PapelesResmas" role="tabpanel" aria-labelledby="list-PapelesResmas-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-membretado.jpeg" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>HOJA MEMBRETADA</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel a elección <br>
                       Diversos tamaños - A4, Oficio, Carta
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$4.821,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /500 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-Publicidad" role="tabpanel" aria-labelledby="list-Publicidad-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-publicitario.png" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h7>LLAVEROS PERSONALIZADOS</h7>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                      Full Color
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$1.550,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /100 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-Tarjetas" role="tabpanel" aria-labelledby="list-Tarjetas-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-tarjetas.jpeg" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>TARJETAS PERSONALES</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                      Full Color <br>
                      Mínimo 100 unidades.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$609,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /200 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>            

          </div>

          <div class="tab-pane fade" id="list-Volantes" role="tabpanel" aria-labelledby="list-Volantes-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-folletos.png" alt="Almanaque" class="neograf-imagen-responsive">
                  </div>
                    <h5>FOLLETOS / FLYERS</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 150 grs. <br>
                       Imprenta Offset.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$1.800,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /1000	unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>
        </div>
        </div>
      </article>

    </section>

  </main>


</body>

</html>