<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles from OutSide-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/baade5447e.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

  <!-- Personal CSS  -->
  <link rel="stylesheet" href="../css/style.css">

    <!-- Animations animate.style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

  <title>Imprenta NeoGraf</title>
</head>

<body>
  <header>
    <!-- BEGIN - AGREGADO DE BANNER + LOGO + MENU NAVEGABLE Y DESPLEGABLE -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="../../index.html">
          <img src="../media/img/PNG_LETRAS_NEGRAS.png" alt="Imagen Logo" class="logo-size">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../../index.html#Home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#AboutUs">Conocenos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Products">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Service">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html#Contact" tabindex="-1" aria-disabled="true">Contacto</a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- END - AGREGADO DE BANNER + LOGO + MENU NAVEGABLE Y DESPLEGABLE -->
  </header>

  <main class="container-flow main-products">

    <!-- <section class="container-flow row"> -->
     
    <section class="row row-cols-2"> 

      <aside class="col col-md-2 list-aside-product">

        <!-- <div class="shadow-lg p-3 mb-5 bg-white rounded col-8 list-group group-aside-product" id="list-tab" role="tablist"> -->
          <div class="shadow-lg p-3 mb-5 bg-white rounded list-group group-aside-product" id="list-tab" role="tablist">
          <!-- <a class="list-group-item list-group-item-action active" id="list-all-list" data-bs-toggle="list"
            href="#list-all" role="tab" aria-controls="all">Todos Nuestros Productos</a> -->

          <a class="list-group-item list-group-item-action active" id="list-Almanaques-list" data-bs-toggle="list"
            href="#list-Almanaques" role="tab" aria-controls="list-Almanaques-list">Almanaques</a>
            <!--  -->
          <a class="list-group-item list-group-item-action" id="list-Autoadhesivos-list" data-bs-toggle="list"
            href="#list-Autoadhesivos" role="tab" aria-controls="list-Autoadhesivos-list">Autoadhesivos</a>
            <!-- Autoadhesivos -->
          <a class="list-group-item list-group-item-action" id="list-GranFormato-list" data-bs-toggle="list"
            href="#list-GranFormato" role="tab" aria-controls="list-GranFormato-list">Gran Formato</a>
            <!-- Gran Formato -->
          <a class="list-group-item list-group-item-action" id="list-PapeleriaComercial-list" data-bs-toggle="list"
            href="#list-PapeleriaComercial" role="tab" aria-controls="list-PapeleriaComercial-list">Papeleria Comercial</a>
            <!-- Papeleria Comercial -->
          <a class="list-group-item list-group-item-action" id="list-PapelesResmas-list" data-bs-toggle="list"
            href="#list-PapelesResmas" role="tab" aria-controls="list-PapelesResmas-list">Papeles y Resmas</a>
            <!-- Papeles y Resmas -->
          <a class="list-group-item list-group-item-action" id="list-Publicidad-list" data-bs-toggle="list"
            href="#list-Publicidad" role="tab" aria-controls="list-Publicidad-list">Publicidad</a>
            <!-- Publicidad -->
          <a class="list-group-item list-group-item-action" id="list-Tarjetas-list" data-bs-toggle="list"
            href="#list-Tarjetas" role="tab" aria-controls="list-Tarjetas-list">Tarjetas</a>
            <!-- Tarjetas -->
          <a class="list-group-item list-group-item-action" id="list-Volantes-list" data-bs-toggle="list"
            href="#list-Volantes" role="tab" aria-controls="list-Volantes-list">Volantes</a>
            <!-- Volantes -->
        </div>

      </aside>



      <article class="col col-md-10 list-article-product neograf-fonts">

        <div class="tab-content" id="nav-tabContent">


          <div class="tab-pane fade show active" id="list-Almanaques" role="tabpanel"
            aria-labelledby="list-Almanaques-list">

            <div class="row">
            <div class="col-11 col-md-4">
              <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card animate__animated animate__zoomIn">
                <div class="neograf-product-img-card col-12">
                  <img src="../media/img/product1.jpg" alt="Almanaque" class="neograf-imagen-responsive">
                </div>
                  <h5>Almanaque Personalizado 2021</h5>
                  <div class="neograf-product-img-card-txt">
                  <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                    Full Color
                  </p>
                </div>
                <div class="neograf-product-img-price-txt">
                  <span>Desde</span>
                  <span class="neograf-product-price">$1.500,00</span>
                  <span class="neograf-product-quantity"> + IVA</span>
                  <span class="neograf-product-quantity"> /100 unidades</span>
                </div>

              </div>
            </div>

          </div>
        </div>
          <!-- </div> -->

          <div class="tab-pane fade" id="list-Autoadhesivos" role="tabpanel" aria-labelledby="list-Autoadhesivos-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-auto.jpg" alt="Stickers" class="neograf-imagen-responsive">
                  </div>
                    <h5>STICKERS EN VINILO</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Resiste el agua y la luz solar  <br>
                       Full Color. <br>
                       Medida a elección. 
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$829,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /250 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-GranFormato" role="tabpanel" aria-labelledby="list-GranFormato-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-ploteado.png" alt="Ploteado" class="neograf-imagen-responsive">
                  </div>
                    <h5>PLOTEADO</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Full color y la más alta calidad. <br>
                       Apto para uso en exterior e interior.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$722,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /Precio mt2</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-PapeleriaComercial" role="tabpanel"
            aria-labelledby="list-PapeleriaComercial-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-talonario.png" alt="talonario" class="neograf-imagen-responsive">
                  </div>
                    <h5>Talonarios</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel obra de 75 grs. <br>
                      Impresión blanco y negro <br>
                      Engomados
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$422,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /100 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-PapelesResmas" role="tabpanel" aria-labelledby="list-PapelesResmas-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-membretado.jpeg" alt="Hoja" class="neograf-imagen-responsive">
                  </div>
                    <h5>HOJA MEMBRETADA</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel a elección <br>
                       Diversos tamaños - A4, Oficio, Carta
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$4.821,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /500 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-Publicidad" role="tabpanel" aria-labelledby="list-Publicidad-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-publicitario.png" alt="Llaveros" class="neograf-imagen-responsive">
                  </div>
                    <h5>LLAVEROS PERSONALIZADOS</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                      Full Color
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$1.550,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /100 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>

          <div class="tab-pane fade" id="list-Tarjetas" role="tabpanel" aria-labelledby="list-Tarjetas-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-tarjetas.jpeg" alt="Tarjetas" class="neograf-imagen-responsive">
                  </div>
                    <h5>TARJETAS PERSONALES</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 300 grs. <br>
                      Full Color <br>
                      Mínimo 100 unidades.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$609,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /200 unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>            

          </div>

          <div class="tab-pane fade" id="list-Volantes" role="tabpanel" aria-labelledby="list-Volantes-list">

            <div class="row">
              <div class="col-11 col-md-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded neograf-product-card  animate__animated animate__zoomIn">
  
                  <div class="neograf-product-img-card col-12">
                    <img src="../media/img/producto-folletos.png" alt="Folletos" class="neograf-imagen-responsive">
                  </div>
                    <h5>FOLLETOS / FLYERS</h5>
                    <div class="neograf-product-img-card-txt">
                    <p class="neograf-fonts">Papel Ilustración de 150 grs. <br>
                       Imprenta Offset.
                    </p>
                  </div>
                  <div class="neograf-product-img-price-txt">
                    <span>Desde</span>
                    <span class="neograf-product-price">$1.800,00</span>
                    <span class="neograf-product-quantity"> + IVA</span>
                    <span class="neograf-product-quantity"> /1000	unidades</span>
                  </div>
  
                </div>
              </div>
  
            </div>

          </div>
        </div>
        <!-- </div> -->
      </article>

    </section>

  </main>

  <!--    BEGIN - Pie de Site -->
  <footer id="Contact">
    <!-- Contiene la localización del lugar (Es un hiperlink de googleMaps) -->
    <!--    BEGIN - Subsección 5 de Fin de Pagina -->

    <div class="card text-center">

      <!--    BEGIN - Banner Footer - Con Iconos Redes Sociales -->
      <div class="card-header footer-header-neograf-backgroud">
        <div class="row-12 py-3 d-flex align-items-center">
          <div class="col-6 col-lg-4 footer-header-neograf-position">
            <h4>Nuestras Redes</h4>
          </div>

          <div class="col-6 col-lg-8 footer-header-neograf-position-icon">
            <div class="col col-lg-2">
              <a href="https://www.facebook.com/jose.l.enriquez.58" class=" social-link-neograf"><span class="footer-size-icon">
                <i class="fa fa-facebook-official neograf-facebook"></i>
              </span></a>
            </div>
            <div class="col col-lg-2 social-link-neograf">
              <span  class="footer-size-icon" >
                <i class="fa fa-instagram neograf-instagram"></i>
              </span>
            </div>
            <div class="col col-lg-2">
           
              <a href="https://wa.link/36ghc7" class=" social-link-neograf">
                <span  class="footer-size-icon">                   
                  <i class="fa fa-whatsapp footer-desktop-icon neograf-whatsapp"></i>
                  <i class="fab fa-whatsapp-square footer-phone-icon"></i>
                </span>                         
                </a>                
            
            </div> 
          </div>
 
        </div>
      </div>
      <!--    END - Banner Footer - Con Iconos Redes Sociales -->


      <div class="card-body bg-dark">
        <div class="row">

          <!--    BEGIN - Footer - Columna Logo + Maps + Info -->
          <div class="col-12 col-lg-3">
            <img src="../media/img/PNG_LETRAS_BLANCAS.PNG" alt="Logo Footer" style="height: 40px; width: 40px;"
              class="d-block mb-2">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.477417327045!2d-60.23021198484783!3d-33.33247508080781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7679389567ad7%3A0x7603255251e2533!2sImprenta%20Neograf%20talonarios-%20Folletos-tarjetas-etiquetas!5e0!3m2!1ses-419!2sar!4v1605976492895!5m2!1ses-419!2sar"
              class="iframe-neograf-responsive-maps d-block" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
            <p class="d-flex mb-3 text-mute footer-p-neograf">@1990-2020</p>
          </div>
          <!--    END - Footer - Columna Logo + Maps + Info -->

          <!--    BEGIN - Footer - Productos Lista -->
          <div class="col-6 col-lg-3">
            <h5>Productos</h5>
            <ul class="list-unstyled">
              <li><a href="#Products" class="link-secondary">Nuestros Productos</a></li>
              <li><a href="product.html" class="link-secondary">Almanaques</a></li>
              <li><a href="product.html" class="link-secondary">Autoadhesivos</a></li>
              <li><a href="product.html" class="link-secondary">Gran Formato</a></li>
              <li><a href="product.html" class="link-secondary">Papeleria Comercial</a></li>
              <li><a href="product.html" class="link-secondary">Papeles y Resmas</a></li>
              <li><a href="product.html" class="link-secondary">Publicidad</a></li>
              <li><a href="product.html" class="link-secondary">Tarjetas</a></li>
              <li><a href="product.html" class="link-secondary">Volantes</a></li>
            </ul>
          </div>
          <!--    END - Footer - Productos Lista -->

          <!--    BEGIN - Footer - Servicios Lista -->
          <div class="col-6 col-lg-3">
            <h5>Servicios</h5>
            <ul class="list-unstyled">
              <li><a href="service.html" class="link-secondary">Nuestros Servicios</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="service.html" class="link-secondary">Contratación</a></li>
            </ul>
          </div>
          <!--    END - Footer - Servicios Lista -->

          <!--    BEGIN - Footer - Contactos -->
          <div class="col col-lg-3">
            <h5>Contactos</h5>
            <p>
              <i class="fa fa-home mr-3" style="color: white;"></i> Av. Mariano Moreno 238, San Nicolás de Los Arroyos, Provincia de Buenos Aires
            </p>
            <p>
              <i class="fa fa-envelope mr-3"></i> imprentaneograf@hotmail.com
            </p>
            <p>
              <i class="fa fa-phone"></i> +54-0336 443-6100
            </p>
            <p> <i class="fa fa-print mr-3"></i>+54-0336 443-6100</p>
          </div>
          <!--    END - Footer - Contactos -->
        </div>
      </div>
      <!-- <div class="card-footer text-muted bg-dark">
        Desarrollo Villegas, Javier
      </div> -->
    </div>
    <!--    END - Subsección 5 de Fin de Pagina -->
  </footer>
  <!--    END -  Pie de Site -->
</body>

</html>