
.txt-center {
    text-align: center;
    margin: 1%;
}

.card-text-neograf {
    text-align: center;
}

.neograf-fonts {
    
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    
    h1, h2, h3, h4, h5 {
        color: $color-sixth;
    }
}

    .card-style-font {
        // color: #FCB35B;
        color: whitesmoke;
    }

.neograf-fonts-link {

    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }

}
.neograf-product-img-price-txt {
    .neograf-product-price {

        color: #fcae51;
        font-weight: bold;
    }

    .neograf-product-quantity {
        color: #999;
        font-size: 11px;
        white-space: nowrap;
    }
}