p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
    }


.txt-center {
    text-align: center;
    margin: 1%;
    overflow-wrap: break-word;
        }

.txt-responsive {
    overflow-wrap: break-word;
}

.card-text-neograf {
    text-align: center;
}

.card-body {

    a {
        
        text-decoration: none;

        h5 {
            color: $color-eighth;
        }
    }

}

.neograf-fonts {
    
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    
    h1, h2, h3, h4, h5 {
        color: $color-sixth;
    }
}

    .card-style-font {
   
        color: $color-zero;
        text-shadow: 2px 1px 0px black;
        font-weight: bold;
    }

    .card-style-font-p {
        font-size: 0.8rem;
    }

.neograf-fonts-link {

    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }

}
.neograf-product-img-price-txt {
    .neograf-product-price {

        color: $color-tenth;
        font-weight: bold;
    }

    .neograf-product-quantity {
        color: $color-base;
        font-size: 11px;
        white-space: nowrap;
    }
}