

.neograf-fonts {
    
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    
    h5 {
        color: $color-sixth;
    }
}

.neograf-product-img-price-txt {
    .neograf-product-price {

        color: #fcae51;
        font-weight: bold;
    }

    .neograf-product-quantity {
        color: #999;
        font-size: 11px;
        white-space: nowrap;
    }
}