//Estilos esclusivos para ampliación y adaptación de elementos dentro de MAIN

body {
    background: linear-gradient($color-zero 5%, $color-third-light 95%);
}

main {

    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .section-card-neograf {
          
            position: static;
            margin-top: 4%;
 
            article {

                @extend %d-flex-center;
                align-self: center;

                .container-article {
 
                margin: 5%;
                padding: 5%;
                border: 1px solid $color-nineth;
                box-shadow: -1px 11px 31px 6px rgba(0,0,0,0.35);
                border-radius: 10px;
                width: 100%; 
                background-color: $color-zero; 

                }


            }

          .end-section-neograf {

            @include m-border(5px);
        }


        .van-separate-neograf {
            top: auto;
            left: auto;
        }

        .container-color-neograf {
            @include m-border(2px);

        }
        
        .aboutus-p-neograf {

        }        

        .div-m-title-neograf {
 
        }        

        &:hover {


            .move-right {
                width: 55%;
                @include m-transform(translate(350px,0));
            }

        }
        
    }

    .section-product-neograf {

        .content_product_index {

            @extend %d-flex-around;

            .card-algo {
                background-color: white;
                @include m-responsive(300px, 300px);

            }
        }        
    }

} 

.iframe-neograf-responsive-video {

    @include m-responsive(250px, 560px);

}


.row-title-card {
    margin: 3%;
    align-self: center;
}

.main_cloth_container {
    z-index: 0;
    position: relative;

}

.container-card-product {

    @extend %d-flex-around;

    .card-product {
        height: 230px; 

        .card-product-info {
            
            @extend %d-flex-center;
            position: relative;
            background-color: white;           
            z-index: 4;
            align-self: center;         
        }

        .card-product-photo {
            display: flex;            
            position: relative;
            top: -229px;
            z-index: 5;
            box-shadow: -1px 11px 31px 6px rgba(0,0,0,0.35);
        }

        .card-responsive {

            @include m-responsive(100%, 100%);

        }

        &:hover {

                .card-animation-bot-right {
                    animation-name: animation-bot-right;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    z-index: 4;
                    border-radius: 5%;
                    img {
                        border-radius: 5%;
                    }
                }

                .card-animation-top-left {
                    animation-name: animation-top-left;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    z-index: 5;
                    transform: scale(0.9);
                    opacity: 0.7;
                    border-radius: 5%;
                    // background-color: $color-fifth;  
                    background-color: $color-first;                 
                }

        }

    }
}

.product-photo-responsive {

    @include m-responsive(100%, 100%);

}









