//Estilos esclusivos para ampliación y adaptación de elementos dentro de MAIN

body {
    background: linear-gradient($color-zero 5%, $color-third-light 95%);
}

main {

    // padding-top: 10%;
    position: relative;
    // background-color: #ffffff;
    // 
    // opacity: 30%;
    // background-color: $color-fill;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .section-card-neograf {
          
            // padding: 8%;
            position: static;
            margin-top: 4%;
            // height: 280px;            

            article {

                display: flex;
                justify-content: center;
                align-self: center;

                .container-article {
                    // background-color: white;
                margin: 5%;
                padding: 5%;
                border: 2px solid $color-third-light;
                box-shadow: -1px 11px 31px 6px rgba(0,0,0,0.35);
                border-radius: 10px;
                width: 100%;  
                // opacity: 50%;
                // height: 90%;

                }


            }


          .end-section-neograf {
            // margin-top: 5%;
            @include m-border(5px);
        }

        .object-separate-neograf {
            // width: 20%;
            position: static;

        }

        .van-separate-neograf {
            top: auto;
            left: auto;
        }

        .container-color-neograf {
            @include m-border(2px);

            .media-float-right {
                float: right;
            }
        }
        
        .aboutus-p-neograf {
            // padding: 5%;
        }        

        .div-m-title-neograf {
            // margin: 5% 0;
        }        

        &:hover {

            .object-separate-neograf {
                transition: all 1.5s ease-in-out;
            }
            .move-right {
                width: 55%;
                @include m-transform(translate(350px,0));
            }

        }
        
    }

    .section-product-neograf {
        border: 1px solid black;
        background-color: black;

        .content_product_index {
 
            // width: 100%;
            // height: auto;
            display: flex;
            justify-content: space-around;

            .card-algo {
                background-color: white;
                height: 300px;
                width: 300px;
            }
        }        
    }

} 







