/* Stile Menu para productos */

.main-products {

    background-color: $color-third-light;

    section {

    .list-aside-product {
        
        @extend %list-product-margin;

        .group-aside-product {
            text-align: center;
        }

    }

    .list-article-product {
        @extend %list-product-margin;

            .neograf-product-card {
                
                background-color: $color-zero;
                text-align: center;
                padding: 8%;

                .neograf-product-img-card {

                    .neograf-imagen-responsive {
                        height: inherit;
                        width: inherit;
                    }
                }
            }
    }
}
}
